.one-product-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    white-space: pre-wrap;
}
