.content-container {
  min-height: 80vh;
  border: 1px solid black;
  overflow-x: hidden;
}

.main-title {
  font-size: 1.8em;
  font-weight: bold;
  text-align: center;
  margin: 1em;
  color: var(--primary-color);
}